@import url(variables.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    p{
      font-family: "RobotoCondensed-Regular.ttf";
    
    }
    h2{
      font-family:"RobotoCondensed-Bold.ttf"; }
    
  }
  header{
    display: flex;
    width: 1320px;
    height: 592px;
    
  }

  .column1{
    font-family: "RobotoCondensed-Regular.ttf";
    position: relative;
    width:707px;
    height: 592px;
    align-items: center;
    justify-content: center;
  }
  .column2{
    width: 494px;
    height:  541px;
    position: relative;
    align-items: center;
  }
  .column3_redes{

  }
  .how{
    flex-direction: row;
  }
  .rules{
      flex-direction: column;
      display: flex;
      flex-wrap: ;
    
  }
  .column_rules{
    flex-direction: row;
    border: 3px blue;
  
  }
  .circulo{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    h2{
      
      color: white;
      font-family:"RobotoCondensed-Bold.ttf"; 
      align-items: center;
    }

  }
  .apoyanos{
    h2{
      font-size: 72px;

    }
  }
  .sobre_nosotros{
    h2{
      font-size: 72px;

    }
  }