@font-face {
    font-family:"RobotoCondensed-Regular" ;
    src: url(../storage/font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../storage/font/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}